{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Course List</h2>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.code }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.teacher.name }}</td>
                <td>
                    <a href="{% url 'course_edit' course.id %}">Edit</a>
                    <a href="{% url 'course_delete' course.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{% url 'course_add' %}">Add New Course</a>
{% endblock %}
